
/* Start footer */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer img{
    margin-bottom: 20px;
    width: 75px;
}
footer h4{
    font-size: 13px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin-bottom: 8px;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}
footer .install img{
    margin: 10px 0 15px 0;
}
footer ,.follow i:hover,
footer a:hover{
    color: #088178;
}
/* end footer */