/*Header Start*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0,0,0,.06);
}
#header img {
    width: 60px;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 25px;
}
#navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}
