*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0px;
}
body{
    width: 100%;
}

/*Start hero <section> is 2*/
#hero{
    background-image: url("notphoto1.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1 {
    color: #088178;
}

#hero button{
    background-image: url("nophoto2.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
/*End hero */

/*Start feature <section> is 3*/

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 20px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #088178;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}
/*End feature */
