/* Start header style*/
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #adadada1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px ;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: blue;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 3px;
    background-color: blue;
    position: absolute;
    bottom: -4px;
    left: 20px;
}