* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
  
  body {
    background-color: #fff;
    font-family: "Poppins-Regular";
    color: #333;
    font-size: 13px;
    margin: 0; }
  
  input, button {
    font-family: "Poppins-Regular";
    color: #333;
    font-size: 13px; }
  
  p,h3{
    margin: 0; }
  
  img {
    max-width: 80%; }
  
  a:hover {
    text-decoration: none; }
  
  .wrapper {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center; }
  
  .inner {
    padding: 20px;
    background: #088178;
    max-width: 750px;
    margin: auto;
    display: flex; }
    .inner .image-holder {
      width: 83%; }
    .inner form {
      width: 65%;
      padding-top: 20px;
      padding-left: 30px;
      padding-right: 30px; }
    .inner h3 {
      text-transform: uppercase;
      font-size: 25px;
      font-family: "Poppins-SemiBold";
      text-align: center;
      margin-bottom: 28px; }
  
  .form-wrapper {
    position: relative; }
    .form-wrapper i {
      position: absolute;
      bottom: 9px;
      right: 0; }
  
  .form-control {
    border: 1px solid #333;
    border-top: none;
    border-right: none;
    border-left: none;
    display: block;
    width: 100%;
    height: 30px;
    padding: 0;
    margin-bottom: 25px; }
    .form-control::-webkit-input-placeholder {
      font-size: 13px;
      color: #333;
      font-family: "Poppins-Regular"; }
    .form-control::-moz-placeholder {
      font-size: 13px;
      color: #333;
      font-family: "Poppins-Regular"; }
    .form-control:-ms-input-placeholder {
      font-size: 13px;
      color: #333;
      font-family: "Poppins-Regular"; }
    .form-control:-moz-placeholder {
      font-size: 13px;
      color: #333;
      font-family: "Poppins-Regular"; }
  .register-sign-log{
    font-size: 20px;
    color: #fff;
  }
  .herf-style{
    color: #fff;
    text-decoration: none;
  }
  
  .button-style-sign-log{
    border: none;
    width: 164px;
    height: 51px;
    margin: auto;
    margin-top: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #1a1a1a;
    font-size: 20px;
    color: #fff;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  